.remarks-uploader .rs-uploader-picture {
    display: flex;
}

.remarks-uploader .rs-uploader-picture .rs-uploader-file-item {
    height: 200px;
    width: 200px;
    margin: 0px;
}

.rs-picker-toggle-value {
    --rs-picker-value: #667080;
}
